<%- include('../layouts/head') %> <%- include('../layouts/nav') %>
<body>
  <main>
    <form action="/admin/add-product" method="POST">
      <h1>Product Name</h1>
      <input type="text" name="product" />
      <h1>Price</h1>
      <input type="text" name="price" />
      <h1>Quantity</h1>
      <input type="text" name="qty" />
      <button type="submit">Add Product</button>
    </form>
  </main>
</body>
<%- include('../layouts/foot') %>
